<!DOCTYPE html>
<html lang="sv">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8" />
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/materialize/dist/css/materialize.css" rel="stylesheet" />
    <link href="/lib/styles/reset.css" rel="stylesheet" />
    <link href="/lib/styles/overrides.css" rel="stylesheet" />

    <title>LinasMatkasse</title>
</head>
<body>
    <div>
    </div>
    <header class="cyan left-align white-text font-weight-light">
        <ul id="slide-out" class="side-nav fixed cyan lighten-5 col s1 m1 l1">
            <li><a>Lägg till recept.</a></li>
            <li><a>Gör en recension.</a></li>
        </ul>
        <a href="#" data-activates="slide-out" class="button-collapse white-text"><i class="material-icons">menu</i></a>
        <div class="center-align">
            <img src="Inser picuture" alt="LinasMatkasse-Logo" />
        </div>

    </header>
    <main class="cyan-text text-darken-1">
        <div>
            @RenderBody()
        </div>
    </main>

</body>
</html>

